<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="set1" parallel="none" >
  <test  name="Test">
    <classes>
      <class name="testmethods.HomePageTest"/>
      <class name="testmethods.ItineraryPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
